useDynLib(qMRI, .registration = TRUE, .fixes = "C_")
#exportPattern("^[[:alpha:]]+")

import(oro.nifti, stringr, aws)

importFrom(awsMethods,extract,setCores)
importFrom("stats", "qchisq", "qf", "qnorm", "qt", "nls", "coef", "quantile",
           "dnorm", "median", "sd", "deviance", "lm.fit", "pchisq",
           "formula", "rnorm", "lm.wfit")
importFrom("graphics","par")
importFrom("adimpro", "rimage","rimage.options")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar")
importFrom("methods","setOldClass")
#importFrom("aws","kernsm")
importFrom("dti","awslsigmc")
export(readMPMData,estimateESTATICS,calculateQI,smoothESTATICS)
export("extract.MPMData","extract.ESTATICSModel","extract.sESTATICSModel","extract.qMaps")
export("[.MPMData","[.ESTATICSModel","[.sESTATICSModel","[.qMaps")
export(writeESTATICS,writeQI)
S3method(extract,MPMData)
S3method(extract,ESTATICSModel)
S3method(extract,sESTATICSModel)
S3method(extract,qMaps)
S3method('[',MPMData)
S3method('[',ESTATICSModel)
S3method('[',sESTATICSModel)
S3method('[',qMaps)
